# file for running tests on travis-ci.com
language: python
# supported language versions
python:
  - "2.6"
  - "2.7"
  - "pypy"
# dependency install
install: "pip install -r requirements.txt"
# run all tests
script: nosetests tests/unittests
# trigger docker build
after_success:
  - curl --data "build=true" -X POST https://registry.hub.docker.com/u/witlox/cumulonimbi/trigger/a22cd358-625e-411e-9d31-5ac8d2e7fdfb/
# speed up build
sudo: false